<form id="update-joke" data-id="{{id}}">
  <input name="joke[question]" type="text" placeholder="Question">
  <input name="joke[punch_line]" type="text" placeholder="Punchline">
  <button class="btn btn-info mr-2 update" type="submit" >Update Joke</button>
</form>