<nav>
<form class="form-inline my-2 my-lg-0 update"  data-id="{{id}}">
  <input name="joke[question]" type="text" placeholder="Question">
  <input name="joke[punch_line]" type="text" placeholder="Punchline">
  <button class="btn btn-primary update-joke"  type="submit">Update Joke</button>
  
  </form>
 
                     