@import '~bootstrap/scss/bootstrap';

body {
  background-color: black; //no-repeat center center fixed;
  background-size: cover;
}

.top-nav {
  display: inline-flex;
  justify-content: space-between;
}

#sign-in {
  display: flex;
  justify-content: space-between;
  padding-right: 300px;
 }

#message {
    text-align: center;
    padding: 50px;
    color: white;
}

#change-password {
    padding-right: 600px;
}

.app-name {
    text-align: center;
    padding: 50px;
    font-size: 20px;
    color: white;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}

#show-jokes {
   padding-top: 20px;
}

section {
    //  @include make-col-ready;
    //  @include media-breakpoint-up(md) {
    //  @include make-col(3);
    //  }
    // @include media-breakpoint-up(lg) {
    //   @include make-col(6);
    // }
    background: $white;
    cursor: pointer;
    
    // outline-style: solid;
    // outline-color: blue;
    padding: 1rem;
   
    &.col-md-4 {
      flex: 0 0 31.33%;
      max-width: 31.33333%;
      margin: 1%;
    }
    

    p {
      margin-bottom: 0;
    }

  }
  
  .form-content {
    
    // border: 5px solid;
  }

  .content {
    @include make-row;
  }


 #clear {
   margin-left: 20px;
 }

 .app-name {
   font-size: 24px;
 }

 #question {
   height: 70px;
 }

 #remove {
   padding-top: 10px;
 }

 .forms {
   padding-bottom: 10px;
 }

 main {
   padding: 10px;
 }



